<div class="nav-item dropdown mr-10">
    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{user?.userName}}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
        <li><a routerLink="articles/new" class="dropdown-item">Add more tokens</a></li>

        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <button class="dropdown-item" (click)="logout()">Logout</button>
        </li>
    </ul>
</div>