<div class="nav-item dropdown mr-10">
    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{user?.userName}}
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">

        <button routerLink="preferences" class="dropdown-item">
            Preferences
        </button>

        <button routerLink="feed-management" class="dropdown-item">
            Manage feeds
        </button>

        <button routerLink="section-management" class="dropdown-item">
            Manage sections
        </button>

        <button routerLink="unlocked" class="dropdown-item">
            Unlocked articles
        </button>

        <li>
            <hr class="dropdown-divider">
        </li>

        <button routerLink="main-wallet" class="dropdown-item">View your main wallet</button>

        <button routerLink="escrow-wallet" class="dropdown-item">View your escrow wallet</button>

        <li>
            <button routerLink="tokens" class="dropdown-item">Add or withdraw tokens</button>
        </li>

        <li>
            <hr class="dropdown-divider">
        </li>

        <li>
            <button class="dropdown-item" (click)="logout()">Logout</button>
        </li>
    </ul>
</div>