<div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      Articles
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
      <li><a routerLink="articles" class="dropdown-item">Show all</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a routerLink="articles/new" class="dropdown-item">Add new</a></li>
    </ul>
  </div>