<mat-card class="example-card mat-elevation-z4">
    <a href="{{articleUrl}}">
        <img src={{articleImagePath}} class="image" alt="">
        <div class="overlap">
            <div [ngClass]="{
              'read': articleState === 'Purchased',
              'within-buying-limit': articleState === 'WithinBuyingLimit',
              'outside-of-limit-but-afforrdable': articleState === 'OutsideOfLimitButAffordable',
              'unaffordable': articleState === 'Unaffordable'
            }"></div>
        </div>
    </a>
    <mat-card-title-group routerLink="/article/{{articlePreview.articleId}}">
        <mat-card-title>{{articlePreview.articleTitle}}</mat-card-title>
        <mat-card-subtitle>
            <div id="block_container">
                <div *ngFor="let author of articlePreview.authorPreviews">
                    <app-author-preview [authorPreview]="author"></app-author-preview>
                </div>
                <div>{{articlePreview.articleCreatedAt | date:'EEEE, MMMM d, y'}}</div>
            </div>

            <div id="block_container" *ngIf="articlePreview.tagPreviews.length > 0">
                <div class="text-dark-small"><strong>Tags: </strong></div>
                <div *ngFor="let tag of articlePreview.tagPreviews">
                    <app-tag-preview [tagPreview]="tag"></app-tag-preview>
                </div>
            </div>

            <div id="block_container" *ngIf="articlePreview.sectionPreviews.length > 0">
                <div class="text-dark-small"><strong>Sections: </strong></div>
                <div *ngFor="let section of articlePreview.sectionPreviews">
                    <app-section-preview [sectionPreview]="section"></app-section-preview>
                </div>
            </div>

            <p>Price: {{articlePreview.articlePrice}}</p>

            <app-review-count [article]="articlePreview"></app-review-count>

        </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <p>{{articlePreview.articlePreview}}</p>
    </mat-card-content>
</mat-card>

<!-- <div class="with-gray-background">

<a routerLink="/article/{{articlePreview.articleId}}" class="text-dark" position="relative">
    <div>
        <img src={{articleImagePath}} class="img-fluid shadow-1-strong rounded" alt="">
        <div class="overlap">
            <div
              [ngClass]="{
              'read': articleState === 'Purchased',
              'within-buying-limit': articleState === 'WithinBuyingLimit',
              'outside-of-limit-but-afforrdable': articleState === 'OutsideOfLimitButAffordable',
              'unaffordable': articleState === 'Unaffordable'
            }"></div>
            </div>
    </div>


    <p class="mb-2"><strong>{{articlePreview.articleTitle}}</strong></p>
    <div id="block_container">
        <app-author-preview [authorPreview]="articlePreview.authorPreviews[0]"></app-author-preview>
        <div>{{articlePreview.articleCreatedAt | date:'EEEE, MMMM d, y'}}</div>
    </div>

    <div id="block_container">
        <div class="text-dark-small"><strong>Tags: </strong></div>
        <div *ngFor="let tag of articlePreview.tagPreviews">
            <app-tag-preview [tagPreview]="tag"></app-tag-preview>
        </div>
    </div>

    <p>Price: {{articlePreview.articlePrice}}</p>

    <p>{{articlePreview.articlePreview}}</p>

</a></div>


     -->