<!-- <div>
  <h4>Article details</h4>
  <div>
    <label><strong>Title:</strong></label> {{articlePreview?.articleTitle}}
  </div>
  <div id="block_container">
    <label><strong>Authors: </strong></label>
    <div *ngFor="let author of articlePreview.authorPreviews">
      <app-author-preview [authorPreview]="author"></app-author-preview>
    </div>
  </div>
  <div>
    <label><strong>Price:</strong></label>
    {{articlePreview?.articlePrice}}
  </div>

  <div id="block_container">
    <label>Tags: </label>
    <div *ngFor="let tag of articlePreview.tagPreviews">
      <app-tag-preview [tagPreview]="tag"></app-tag-preview>
    </div>
  </div>

  <a class="badge bg-secondary" routerLink="/article/{{ articlePreview?.articleId }}">
    Read
  </a>
</div> -->
<a routerLink="/article/{{articlePreview.articleId}}" class="text-dark">
    <div class="row mb-4 border-bottom pb-2">
        <div class="col-3">
            <img src="https://mdbootstrap.com/img/new/standard/city/041.jpg" class="img-fluid shadow-1-strong rounded" alt="">
        </div>

        <div class="col-9">
            <p class="mb-2"><strong>{{articlePreview.articleTitle}}</strong></p>
            <p>
                <u>{{articlePreview.articleCreatedAt | date:'EEEE, MMMM d, y, h:mm:ss a'}}</u>
            </p>
        </div>
    </div>
</a>