<h1><b>{{request.title}}</b></h1>

<div id="block_container">
    <strong>Offered to: </strong>
    <app-author-preview [authorPreview]="request.targetAuthor"></app-author-preview>
</div>

<h2>Description:</h2>
{{request.description}}

<div id="block_container">
    <strong>Initiated by: </strong>
    <app-author-preview [authorPreview]="request.initiator"></app-author-preview>
</div>

<h2>Total pledged so far: {{request.pledgeAmount}}</h2>

<br>Request state: {{request.requestState}}

<br> Publish state: {{mapping[request.postPublishState]}}

<br>

<div *ngIf="request.editableByCurrentUser" class="with-margin">
    <button routerLink="/requests/{{request.requestId}}/edit" mat-raised-button color="primary">Edit request</button>
    <!-- <button (click)="deleteRequest()" mat-raised-button color="primary" class="danger with-margin">Delete</button> -->
</div>

<button (click)="acceptRequest()" *ngIf="this.canBeAccepted" mat-raised-button class="with-margin" color="primary">Accept request</button>
<button (click)="completeRequest()" *ngIf="this.canBeCompleted" mat-raised-button class="with-margin" color="primary">Complete request</button>
<input type="text" *ngIf="this.canBeCompleted" id="description" required [(ngModel)]="this.resultingArticleId" name="description" />
<button (click)="acceptRequest()" *ngIf="this.canBeAbandoned" mat-raised-button class="with-margin" color="primary">Abandon request</button>

<div>
    <a class="with-margin" *ngIf="this.request.acceptsNewPledges" routerLink="/requests/{{request.requestId}}/pledges/add" mat-raised-button color="primary">Add new pledge</a>
</div>

<app-pledge-list [pledgePreviews]="request.pledgePreviews"></app-pledge-list>