<h1><b>{{request.title}}</b></h1>

<div id="block_container">
    <strong>Offered to: </strong>
    <app-author-preview [authorPreview]="request.targetAuthor"></app-author-preview>
</div>

<br> Description:
<br>
<h2>{{request.description}}</h2>
<h2></h2>

<h2>Total pledged so far: {{request.pledgeAmount}}</h2>

<br>Request state: {{request.requestState}}

<br> Publish state:
<h2>{{request.postPublishState}}</h2>

<div *ngIf="request.editableByCurrentUser">
    <button routerLink="/requests/{{request.requestId}/edit" mat-raised-button color="primary">Edit request</button>
    <button (click)="deleteRequest()" mat-raised-button color="primary" class="with-margin">Delete</button>
</div>

<a routerLink="/requests/{{request.requestId}}/pledges/add" mat-raised-button color="primary">Add new pledge</a>

<app-pledge-list [pledgePreviews]="request.pledgePreviews"></app-pledge-list>