<mat-form-field *ngIf="showFeeds">
    <mat-select #sectionsSelect placeholder="Subscribed feeds" [formControl]="subscribedSections" multiple>
        <mat-option *ngFor="let feed of sectionWithArticles.feedSubscriptionStatuses" [value]="feed">{{feed.feed?.feedName}}</mat-option>
        <div class="row no-gutters pb-1">
            <div class="col-sm-6 text-right pr-2">
                <button type="button" class="btn btn-primary" (click)="okClicked()">Ok</button>
            </div>
            <div class="col-sm-6 text-right  pr-2">
                <button type="button" class="btn btn-danger" (click)="cancelClicked()">Cancel</button>
            </div>
        </div>
    </mat-select>
</mat-form-field>

<app-article-list [articleDescriptions]="sectionWithArticles.articlePreviews"></app-article-list>