<div>
    <h3><b>Settings:</b></h3>
    <div>
        <div class="submit-form">
            <div class="form-group">
                <label>Require confirmation above</label>
                <input type="number" class="form-control" id="requireConfirmationAbove" required [(ngModel)]="this.userSettings && this.userSettings.requireConfirmationAbove" name="title" />
                <br>

                <label>About:</label>
                <input type="text" class="form-control" id="about" required [(ngModel)]="this.userSettings && this.userSettings.about" />
                <br>

            </div>

            <div class="form-group element-spacing">
                <button (click)="updateSettings()" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>

</div>