<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PerRead</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNav">

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a routerLink="articles" class="dropdown-item">Show all</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a routerLink="articles/new" class="dropdown-item">Add new</a></li>
          </ul>
        </div>

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Authors
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a routerLink="authors" class="dropdown-item">My authors</a></li>
            <li><a routerLink="authors" class="dropdown-item">Show all</a></li>
          </ul>
        </div>

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tags
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a routerLink="tags/popular" class="dropdown-item">Most popular</a></li>
          </ul>
        </div>

        <div class="nav-item dropdown ms-auto ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a routerLink="login" class="dropdown-item">Login</a></li>
            <li><a routerLink="logout" class="dropdown-item">Logout</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a routerLink="register" class="dropdown-item">Register</a></li>
          </ul>
        </div>

      </div>
    </div>
  </nav>

  <div class="p-4">
    <router-outlet></router-outlet>
  </div>
</div>