<!-- <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab *ngFor="let section of sectionPreviews">
        <ng-template mat-tab-label>
            {{section.name}}
        </ng-template>

        <ng-template matTabContent>
            <app-section-articles [sectionId]="section.sectionId"></app-section-articles>
        </ng-template>

    </mat-tab>
</mat-tab-group> -->

<div *ngIf="sectionPreviews != null && sectionPreviews.length > 0; else elseBlock">
    <div class="row">
        <div class="col-md-3" style="min-width: 87px;" *ngFor="let section of sectionPreviews">
            <!-- <app-article-preview [articlePreview]="article"></app-article-preview> -->
            <app-section-card [sectionPreview]="section"></app-section-card>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div>
        User has no published articles yet.
    </div>
</ng-template>